CREATE TABLE IF NOT EXISTS "_prisma_migrations" (
    "id"                    TEXT PRIMARY KEY NOT NULL,
    "checksum"              TEXT NOT NULL,
    "finished_at"           DATETIME,
    "migration_name"        TEXT NOT NULL,
    "logs"                  TEXT,
    "rolled_back_at"        DATETIME,
    "started_at"            DATETIME NOT NULL DEFAULT current_timestamp,
    "applied_steps_count"   INTEGER UNSIGNED NOT NULL DEFAULT 0
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "User_table" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "email" TEXT NOT NULL,

    "password" TEXT NOT NULL,

    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

    "updatedAt" DATETIME NOT NULL

);
CREATE TABLE IF NOT EXISTS "Profile_table" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "name" TEXT NOT NULL,

    "lastName" TEXT NOT NULL,

    "userId" INTEGER NOT NULL,

    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

    "updatedAt" DATETIME NOT NULL,

    CONSTRAINT "Profile_table_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User_table" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE UNIQUE INDEX "User_table_email_key" ON "User_table"("email");
CREATE UNIQUE INDEX "Profile_table_userId_key" ON "Profile_table"("userId");
CREATE TABLE IF NOT EXISTS "Game_table" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

    "updatedAt" DATETIME NOT NULL,

    "gameNumber" INTEGER NOT NULL,

    "winNumber" INTEGER NOT NULL,

    "rpm" INTEGER NOT NULL,

    "openTable" BOOLEAN NOT NULL DEFAULT true,

    "clockwise" BOOLEAN NOT NULL,

    "enabled" BOOLEAN NOT NULL DEFAULT true,

    "croupierId" INTEGER,

    "tableId" INTEGER NOT NULL,

    CONSTRAINT "Game_table_croupierId_fkey" FOREIGN KEY ("croupierId") REFERENCES "User_table" ("id") ON DELETE SET NULL ON UPDATE CASCADE,

    CONSTRAINT "Game_table_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES "Table_table" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Casino_table" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

    "updatedAt" DATETIME NOT NULL,

    "casinoCode" TEXT NOT NULL,

    "name" TEXT NOT NULL,

    "country" TEXT NOT NULL,

    "province" TEXT NOT NULL,

    "city" TEXT NOT NULL,

    "address" TEXT NOT NULL,

    "latitude" REAL,

    "longitude" REAL,

    "mqtt_url" TEXT NOT NULL,

    "mqtt_port" TEXT NOT NULL,

    "mqtt_protocol" TEXT NOT NULL,

    "mqtt_tls" BOOLEAN NOT NULL,

    "mqtt_user" TEXT NOT NULL,

    "mqtt_password" TEXT NOT NULL,

    "mqtt_refresh_time_msec" INTEGER NOT NULL

);
CREATE TABLE IF NOT EXISTS "Table_table" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "key" TEXT NOT NULL,

    "name" TEXT NOT NULL,

    "shortName" TEXT NOT NULL,

    "enabled" BOOLEAN NOT NULL DEFAULT true,

    "posX" INTEGER NOT NULL DEFAULT -1,

    "posY" INTEGER NOT NULL DEFAULT -1,

    "layout" INTEGER NOT NULL DEFAULT 0,

    "noSmoking" BOOLEAN NOT NULL DEFAULT true,

    "tableNumber" INTEGER NOT NULL DEFAULT 0,

    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

    "updatedAt" DATETIME NOT NULL

);
CREATE UNIQUE INDEX "Table_table_key_key" ON "Table_table"("key");
CREATE UNIQUE INDEX "Table_table_name_key" ON "Table_table"("name");
CREATE UNIQUE INDEX "Table_table_shortName_key" ON "Table_table"("shortName");
CREATE TABLE IF NOT EXISTS "Config_table" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "description" TEXT,
    "wheelType" TEXT NOT NULL DEFAULT 'FR37',
    "skin" TEXT NOT NULL DEFAULT 'BOX',
    "skin2" TEXT NOT NULL DEFAULT 'BALL',
    "skin3" TEXT NOT NULL DEFAULT 'LIGHT_NEON_PINK',
    "skin4" TEXT NOT NULL DEFAULT 'CHINESE_96',
    "skin5" TEXT NOT NULL DEFAULT 'RACING',
    "skin6" TEXT NOT NULL DEFAULT 'OFF',
    "skin7" TEXT NOT NULL DEFAULT 'OFF',
    "skin8" TEXT NOT NULL DEFAULT 'OFF',
    "lang" TEXT NOT NULL DEFAULT 'es',
    "lang2" TEXT NOT NULL DEFAULT 'OFF',
    "lang3" TEXT NOT NULL DEFAULT 'OFF',
    "croupierLang" TEXT NOT NULL DEFAULT 'es',
    "croupierLang2" TEXT NOT NULL DEFAULT 'OFF',
    "croupierLang3" TEXT NOT NULL DEFAULT 'OFF',
    "skinRotationTime" INTEGER NOT NULL DEFAULT 60,
    "statisticsQ" INTEGER NOT NULL DEFAULT 200,
    "colorOfLights" TEXT NOT NULL DEFAULT 'yellow',
    "lightsIntensity" INTEGER NOT NULL DEFAULT 1,
    "semaphoreIntensity" INTEGER NOT NULL DEFAULT 1,
    "semaphoreTime" INTEGER NOT NULL DEFAULT 15,
    "semaphoreGreen" INTEGER NOT NULL DEFAULT 4,
    "semaphoreYellow" INTEGER NOT NULL DEFAULT 2,
    "max" INTEGER NOT NULL,
    "min" INTEGER NOT NULL,
    "chip" INTEGER NOT NULL,
    "b36" INTEGER NOT NULL,
    "b18" INTEGER NOT NULL,
    "b12" INTEGER NOT NULL,
    "b9" INTEGER NOT NULL,
    "b6" INTEGER NOT NULL,
    "b7" INTEGER NOT NULL,
    "bCha1" INTEGER NOT NULL,
    "bCha2" INTEGER NOT NULL,
    "userId" INTEGER,
    "tableId" INTEGER NOT NULL,
    CONSTRAINT "Config_table_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User_table" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Config_table_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES "Table_table" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
