<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/datatables.css">
    <script src="/echart.min.js" defer></script>
</head>

<body>
    <header class="header">
        <h1>Sts</h1>
    </header>
    <main>
        <form class="search-form formBusqueda" action="/" method="post">
            <div class="busquedaManualContainer">
                <div>
                    <label for="fecha">Fecha De Inicio:</label>
                    <input type="date" name="fecha">
                </div>
                <div>

                    <label for="tiempo">Tiempo:</label>
                    <select name="tiempo" id="tiempo">
                        <option value="1">1 dia</option>
                        <option value="3">3 dias</option>
                        <option value="7">1 semana</option>
                        <option value="15">15 dias</option>
                        <option value="30" selected>1 mes</option>
                        <option value="90">3 meses</option>
                        <option value="365">1 año</option>
                    </select>
                    <button type="submit">Buscar</button>
                </div>
            </div>
            <div class="busquedaRapidasContainer">
                <div>
                    <h2>Buscar en dias previos</h2>
                </div>
                <div class="quick-search-buttons">

                    <a type="button" class="quick-search" data-days="1">
                        <img src="/day.svg" alt="file" class="icon">
                    </a>
                    <a type="button" class="quick-search" data-days="3"><img src="/threeDays.svg" alt="file"
                            class="icon"></a>
                    <a type="button" class="quick-search" data-days="7" alt="file"><img src="/sevenDays.svg" alt="file"
                            class="icon"></a>
                    <a type="button" class="quick-search" data-days="15"><img src="/fifteenDays.svg" alt="file"
                            class="icon"></a>
                    <a type="button" class="quick-search" data-days="30"><img src="/thirtyDays.svg" alt="file"
                            class="icon"></a>
                    <a type="button" class="quick-search" data-days="90"><img src="/ninetyDays.svg" alt="file"
                            class="icon"></a>
                    <a type="button" class="quick-search" data-days="365"><img src="/year.svg" alt="file"
                            class="icon"></a>
                    <script>
                        document.querySelectorAll(".quick-search").forEach((button) => {
                            button.addEventListener("click", () => {
                                const days = parseInt(button.getAttribute("data-days"), 10); // Obtener los días del botón
                                console.log("Days selected:", days);

                                const today = new Date();
                                const startDate = new Date(today);

                                // Calcular la fecha de inicio (días hacia atrás)
                                startDate.setDate(today.getDate() - days);

                                // Formatear la fecha en formato YYYY-MM-DD
                                const formattedStartDate = startDate.toISOString().split("T")[0];

                                // Actualizar el campo de fecha y el select en el formulario
                                const form = document.querySelector(".formBusqueda");
                                const fechaInput = form.querySelector('input[name="fecha"]');
                                const tiempoSelect = form.querySelector('select[name="tiempo"]');

                                fechaInput.value = formattedStartDate; // Establecer la fecha de inicio
                                tiempoSelect.value = days; // Establecer el rango de días
                                console.log("Fecha seleccionada:", formattedStartDate);

                                // Enviar el formulario
                                form.submit();
                            });
                        });
                    </script>
                </div>
            </div>
        </form>


        <% if ( items && items.length> 0) { %>
            <div>
                <table id="tablaDias" class="display tablaCss">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cantidad de Juegos</th>
                            <th scope="col">Promedio RPM</th>
                            <th scope="col">Juego Inicial</th>
                            <th scope="col">Juego Final</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col" colspan="2"></th>
                        </tr>
                    </tfoot>
                </table>
                <script src="/jquery.js" defer></script> <!-- jQuery -->
                <script src="/dataTables.js" defer></script> <!-- Script de DataTables -->
                <script src="/script.js" data-items='<%- JSON.stringify(items) %>' defer></script>
                <button class="btn-exportMuestraTotal" data-items='<%- JSON.stringify(items) %>'>Exportar CSV</button>
                <%} else {%>
                    <p>No hay datos para mostrar.</p>
                    <%}%>
            </div>

            <div>
                <% if ( items && items.length> 0) { %>
                    <table id="tablaDe1Dia" class="display">
                    </table>
                    <%} %>
            </div>

            <div id="statsSection">
                <div>
                    <% if (typeof stat !=="undefined" && stat ){ %>
                        <div id="chart-container" data-result='<%= stat %>'></div>
                        <script src="/mesa.js" type="module"></script>
                        <!-- <script src="/script.js" type="module"></script> -->
                        <%} %>
                </div>
                <div>
                    <% if ( typeof stat !=="undefined" && stat) { %>
                        <table id="tablaDeParesImpares" class="display compact">
                        </table>
                        <!-- <button class="btn-exportNumerosPerdidos" data-stat='<%- JSON.stringify(stat) %>'>Exportar
                            Tabla y Gráfico</button> -->
                        <script src="/statPorAreasDeTapete.js" type="module" defer></script>
                        <%} %>
                </div>
                <div>
                    <% if ( typeof stat !=="undefined" && stat) { %>
                        <table id="tablaDeNumerosGanadores" class="display">
                        </table>
                        <%} %>

                </div>
            </div>
    </main>

    <footer>
        <p>&copy; 2025 Sielcon</p>
    </footer>
</body>

</html>